<div style="background-color: var(--tf-page-bg-color)" class="bg-gradient py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img width="300px" src="{{ site.data.bio.basics.picture }}" class="d-block mx-auto rounded-circle">
      </div>
      <div class="col-lg-8">
        <h1 class="display-4 text-center">{{ site.data.bio.basics.name }}</h1>
        <p class="lead text-center">{{ site.data.bio.basics.label }}</p>
        <p class="lead">{{ site.data.bio.basics.summary }}</p>
        <hr class="my-4">
        <p class="lead m-0">
          Interests:
          {% for interest in site.data.bio.interests %}
          {{ interest.name }}{% if forloop.last != true %}, {% endif %}
          {% endfor %}
        </p>
        <hr class="my-4">
        {% if site.data.bio.certificates %}
  <p class="lead m-0">
    Certifications:
    {% for cert in site.data.bio.certificates %}
      <br><strong>{{ cert.name }}</strong> — {{ cert.issuer }}
      <br>{{ cert.summary }}
      <br>
      <a href="{{ cert.url }}" target="_blank">Verify Credential</a>
      {% if cert.validationcode %}
        <br><small><strong>Validation Code:</strong> {{ cert.validationcode }}</small>
      {% endif %}
      {% if cert.badgeId %}
        <br>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="{{ cert.badgeId }}" data-share-badge-host="https://www.credly.com"></div>
      {% endif %}
      {% if forloop.last != true %}
        <hr class="my-4">
      {% endif %}
    {% endfor %}
  </p>
  <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
{% endif %}

        <div class="row">

          {% if site.data.bio.basics.website %}
            {% capture url %}{{ site.data.bio.basics.website }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='house' %}
            </div>
          {% endif %}

          {% if site.data.bio.basics.email %}
            {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name='envelope' %}
            </div>
          {% endif %}

          {% for profile in site.data.bio.basics.profiles %}
            {% capture url %}{{ profile.url }}{% endcapture %}
            {% capture name %}{{ profile.network | downcase }}{% endcapture %}
            <div class="col text-center">
              {% include about/social.html url=url name=name %}
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>
